@import url(https://fonts.googleapis.com/css?family=Raleway:500);
body {
    background: #000;
    height: 80%
}

p {
    font-family: 'Raleway', sans-serif;
    margin-right: 3%;
    color: rgba(243, 167, 96, 0.64);
    margin-top: 30%;
    font-size: 2em;
}

img {
    height: 700px;
}


/*******MEDIA QUERIES*********/

@media only screen and (max-width: 360px) {
    img {
        max-width: 100%;
        width: 90%;
        height: 420px;
    }
    .small-6 {
        width: 100%;
    }
    p {
        color: rgba(243, 167, 96, 0.64);
        margin-top: 10%;
        text-align: center;
        font-size: 1.05em;
    }
}